In [1]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.4-py2.py3-none-any.whl (51 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 51.4/51.4 KB 2.0 MB/s eta 0:00:00
Collecting requests>=2.26
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 4.3 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 8.9 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.0-cp36-abi3-manylinux_2_28_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 35.6 MB/s eta 0:00:00
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.0/111.0 KB 8.5 MB/s eta 0:00:00
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.1-py3-none-any.whl (128 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 128.2/128.2 KB 9.0 MB/s eta 0:00:00
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: soupsieve, requests, html5lib, frozendict, cryptography, beautifulsoup4, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.11.1 cryptography-39.0.0 frozendict-2.3.4 html5lib-1.1 requests-2.28.2 soupsieve-2.3.2.post1 yfinance-0.2.4

In [2]:
!pip install pandas_ta

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandas_ta
  Downloading pandas_ta-0.3.14b.tar.gz (115 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.1/115.1 KB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from pandas_ta) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pandas_ta) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pandas_ta) (2022.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pandas_ta) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->pandas_ta) (1.15.0)
Building wheels for collected packages: pandas_ta
  Building wheel for pandas_ta (setup.py) ... done
  Created wheel for pandas_ta: filename=pandas_ta-0.3.14b0-py3-none-any.whl size=218923 sha256=cca605da16fab165701dd53ff967f48db970a94ee9ccf1d86c817d335068a4e1
  Stored in directory: /root/.cache/pip/wheels/54/4a/75/06b8e63fce6f6d2c1baae5c208edb18eca128407b0c96e1153
Successfully built pandas_ta
Installing collected packages: pandas_ta
Successfully installed pandas_ta-0.3.14b0

In [3]:
import pandas as pd
import pandas_ta as ta
import numpy as np
import yfinance as yf

In [4]:
data = yf.download('URTH', start='2021-01-01')

[*********************100%***********************]  1 of 1 completed

In [5]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04 00:00:00-05:00,113.529999,113.769997,110.620003,111.629997,108.164696,187100
2021-01-05 00:00:00-05:00,111.510002,112.709999,111.510002,112.489998,108.997986,120300
2021-01-06 00:00:00-05:00,112.120003,114.180000,112.120003,113.169998,109.656876,83600
2021-01-07 00:00:00-05:00,113.860001,114.709999,113.860001,114.470001,110.916527,28600
2021-01-08 00:00:00-05:00,115.150002,115.309998,114.059998,115.309998,111.730453,84400
...,...,...,...,...,...,...
2023-01-10 00:00:00-05:00,111.339996,112.190002,111.099998,112.190002,112.190002,111000
2023-01-11 00:00:00-05:00,112.669998,113.419998,112.489998,113.410004,113.410004,181600
2023-01-12 00:00:00-05:00,113.940002,114.559998,112.820000,114.290001,114.290001,178600
2023-01-13 00:00:00-05:00,113.500000,114.889999,113.470001,114.800003,114.800003,288700
2023-01-17 00:00:00-05:00,115.010002,115.330002,114.550003,114.790001,114.790001,680200

In [6]:
test = data.copy()

test.ta.macd(fast=12, slow=26, append=True)

test['signal'] = test.iloc[:,-3] > test.iloc[:, -1]

In [8]:
test.tail(20)

,Open,High,Low,Close,Adj Close,Volume,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,signal
Date,,,,,,,,,,
2022-12-16 00:00:00-05:00,109.709999,110.040001,108.680000,109.269997,109.269997,437000,0.506779,-0.679621,1.186401,False
2022-12-19 00:00:00-05:00,109.459999,109.480003,108.059998,108.489998,108.489998,1266100,0.169609,-0.813433,0.983042,False
2022-12-20 00:00:00-05:00,108.269997,109.209999,108.139999,108.760002,108.760002,308900,-0.074950,-0.846394,0.771444,False
2022-12-21 00:00:00-05:00,109.470001,110.550003,109.360001,110.260002,110.260002,613700,-0.146044,-0.733990,0.587946,False
2022-12-22 00:00:00-05:00,109.529999,109.559998,107.419998,108.889999,108.889999,490000,-0.309367,-0.717851,0.408484,False
2022-12-23 00:00:00-05:00,108.639999,109.440002,108.239998,109.440002,109.440002,266700,-0.389927,-0.638729,0.248801,False
2022-12-27 00:00:00-05:00,109.529999,109.930000,108.739998,109.180000,109.180000,572300,-0.469341,-0.574514,0.105173,False
2022-12-28 00:00:00-05:00,109.300003,109.610001,107.860001,107.870003,107.870003,316300,-0.630713,-0.588709,-0.042004,False
2022-12-29 00:00:00-05:00,108.879997,109.970001,108.690002,109.739998,109.739998,463300,-0.600783,-0.447023,-0.153760,False
2022-12-30 00:00:00-05:00,108.940002,109.300003,108.389999,109.250000,109.250000,369200,-0.609574,-0.364652,-0.244923,False
2023-01-03 00:00:00-05:00,110.040001,110.570000,108.389999,109.099998,109.099998,592600,-0.621482,-0.301247,-0.320235,False
2023-01-04 00:00:00-05:00,110.080002,110.650002,109.199997,110.169998,110.169998,223500,-0.538373,-0.174510,-0.363862,False
2023-01-05 00:00:00-05:00,109.480003,109.480003,108.800003,108.879997,108.879997,196800,-0.570029,-0.164934,-0.405096,False
2023-01-06 00:00:00-05:00,109.699997,111.680000,108.970001,111.449997,111.449997,287600,-0.383321,0.017420,-0.400741,True
2023-01-09 00:00:00-05:00,112.250000,113.000000,111.500000,111.580002,111.580002,459800,-0.222301,0.142752,-0.365053,True
2023-01-10 00:00:00-05:00,111.339996,112.190002,111.099998,112.190002,112.190002,111000,-0.044951,0.256081,-0.301032,True
2023-01-11 00:00:00-05:00,112.669998,113.419998,112.489998,113.410004,113.410004,181600,0.191833,0.394292,-0.202459,True
2023-01-12 00:00:00-05:00,113.940002,114.559998,112.820000,114.290001,114.290001,178600,0.445360,0.518256,-0.072896,True
2023-01-13 00:00:00-05:00,113.500000,114.889999,113.470001,114.800003,114.800003,288700,0.679601,0.601997,0.077604,True
2023-01-17 00:00:00-05:00,115.010002,115.330002,114.550003,114.790001,114.790001,680200,0.854581,0.621582,0.232999,True

In [13]:
#Parameter Tuning
compare = []
trade_log = []
for i in range(5,20):
  for j in range(15,30):

    df = data.copy()

    df.ta.macd(fast=i, slow=j, append=True)

    df['signal'] = df.iloc[:,-3] > df.iloc[:, -1]

    signal = df.ta.tsignals(df.signal, asbool=True, append=True)

    df['action_price'] = df.Open.shift(-1)

    trades_table = df.iloc[:,-5:][df.TS_Trades != 0]
    trades_table['return'] = trades_table['action_price'].pct_change()

    trades_summary = trades_table.loc[trades_table.TS_Exits == True]

    a = trades_summary['return']
    trade_log.append(a)

    b = [a.mean(), a.median(), a.min(), (i,j)]

    compare.append(b)

In [14]:
trades_summary

,TS_Trends,TS_Trades,TS_Entries,TS_Exits,action_price,return
Date,,,,,,
2021-03-23 00:00:00-04:00,False,-1,False,True,117.290001,-0.014370
2021-04-30 00:00:00-04:00,False,-1,False,True,124.559998,0.033093
2021-06-15 00:00:00-04:00,False,-1,False,True,126.570000,0.001107
2021-07-16 00:00:00-04:00,False,-1,False,True,125.250000,-0.020796
2021-08-18 00:00:00-04:00,False,-1,False,True,128.070007,-0.007594
2021-09-10 00:00:00-04:00,False,-1,False,True,132.070007,0.000151
2021-11-19 00:00:00-05:00,False,-1,False,True,136.009995,0.040150
2022-01-07 00:00:00-05:00,False,-1,False,True,132.119995,-0.029956
2022-02-18 00:00:00-05:00,False,-1,False,True,124.309998,-0.027537
2022-04-11 00:00:00-04:00,False,-1,False,True,125.610001,0.016838
2022-06-13 00:00:00-04:00,False,-1,False,True,106.839996,-0.068039
2022-08-23 00:00:00-04:00,False,-1,False,True,114.480003,0.075232
2022-10-07 00:00:00-04:00,False,-1,False,True,101.889999,-0.012789
2022-12-07 00:00:00-05:00,False,-1,False,True,112.620003,0.076364

In [15]:
result = pd.DataFrame(compare,columns = ['Avg Return','Median','Worst Trade Return','MACD Parameter Set']).set_index('MACD Parameter Set',drop=True)
result

                    Avg Return    Median  Worst Trade Return
MACD Parameter Set
(5, 15)              -0.002433 -0.003771           -0.053094
(5, 16)              -0.001970 -0.003771           -0.053094
(5, 17)              -0.002719 -0.004299           -0.053094
(5, 18)              -0.002193 -0.004329           -0.053094
(5, 19)              -0.001907 -0.004329           -0.053094
...                        ...       ...                 ...
(19, 25)              0.003407 -0.003883           -0.054095
(19, 26)              0.005873 -0.003721           -0.054095
(19, 27)              0.006315 -0.003721           -0.054095
(19, 28)              0.007047 -0.003721           -0.054095
(19, 29)              0.004418 -0.003721           -0.068039

[225 rows x 3 columns]

In [16]:
result[result['Median']==result['Median'].max()]

                    Avg Return    Median  Worst Trade Return
MACD Parameter Set
(15, 26)              0.005468  0.003356           -0.056934